server:
  port: 1988

spring:
  application:
    name: springboot
  datasource:
    url: jdbc:mysql://192.168.1.100:3307/yanggy
    url: jdbc:mysql://47.92.32.170:3306/yanggy
    #    url: jdbc:mysql://localhost:8066/TESTDB
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    initialSize: 1
    minIdle: 1
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    type: com.alibaba.druid.pool.DruidDataSource
  jackson:
    serialization:
      indent_output: true
#  boot:  # spring boot admin server page
#    admin:
#      url: http://localhost:${server.port}
  rabbitmq:
    host: 192.168.1.195
    port: 5672
    username: admin
    password: admin
mybatis:
  mapper-locations: classpath:sql-mapper/*.xml

#jwt parameters
jwt:
  header: Authorization
  secret: derrick.yang
  expiration: 604800
  tokenHead: "Bearer "

endpoints:
  health:
    sensitive: false
security:
  basic:
    enabled: false
management:
  context-path: /${spring.application.name}
  security:
    enabled: false

# 主从库配置
master:
    url: jdbc:mysql://104.224.163.143:3306/yanggy
#    url: jdbc:mysql://localhost:8066/TESTDB
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    initialSize: 1
    minIdle: 1
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    type: com.alibaba.druid.pool.DruidDataSource
slave:
    url: jdbc:mysql://45.78.60.201:3306/yanggy
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    initialSize: 1
    minIdle: 1
    maxActive: 20
    maxWait: 60000
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    type: com.alibaba.druid.pool.DruidDataSource
## 七牛云配置
qn:
  access_key: xt_wx4mfltN0n86AavI2pGj5yXC95wQNRaE0gDFm
  secret_key: 2hfrT_GCJzKJ1rns9EE2ATbuA_40xEsXTI0GCL

